// Shadows
.nu-u-shadow-dialog-strong {
  box-shadow: var(--dialog-strong);
}

.nu-u-shadow-dialog {
  box-shadow: var(--dialog);
}

.nu-u-shadow-content {
  box-shadow: var(--content);
}

.nu-u-shadow-canvas {
  box-shadow: var(--canvas);
}

.nu-u-shadow-keyboard-key {
  box-shadow: var(--keyboard-key);
}

.nu-u-focus-default {
  box-shadow: var(--focus-default);
}

.nu-u-focus-accent {
  box-shadow: var(--focus-accent);
}

.nu-u-focus-inverse {
  box-shadow: var(--focus-inverse);
}

// Border Radius
@each $step in xs, sm, md, lg, xl, 2xl, 3xl, 4xl {
  .nu-u-radius-#{$step} {
    border-radius: var(--radius-#{$step});
  }
}

.nu-u-radius-full {
  border-radius: var(--radius-full);
}

// Blur
@each $step in xs, sm, md, lg, xl, 2xl, 3xl {
  .nu-u-blur-#{$step} {
    filter: blur(var(--blur-#{$step}));
  }
}

// Backdrop Blur
@each $step in xs, sm, md, lg, xl, 2xl, 3xl {
  .nu-u-backdrop-blur-#{$step} {
    backdrop-filter: blur(var(--blur-#{$step}));
  }
}

// Transition
.nu-u-transition {
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);
}

.nu-u-transition-all {
  transition: all var(--default-transition-duration)
    var(--default-transition-timing-function);
}

.nu-u-transition-colors {
  transition-property: color, background-color, border-color;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);
}

.nu-u-transition-shadow {
  transition-property: box-shadow;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);
}

.nu-u-transition-transform {
  transition-property: transform;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);
}

.nu-u-transition-opacity {
  transition-property: opacity;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);
}
